---
name: Checkov
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  scan:
    permissions:
      contents: read
      security-events: write   
      actions: read           
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Checkov (Terraform only)
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .                 
          framework: terraform        
          output_format: cli,sarif     
          output_file_path: console,results.sarif
          # soft_fail: true            

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        if: success() || failure()     
        with:
          sarif_file: results.sarif
